html,body{
    background-image: url('https://previews.123rf.com/images/wayne0216/wayne02161510/wayne0216151000236/47219037-pink-piggy-bank-on-a-green-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
    margin-top: 67px;
    }
.card{
    height: 417px;
    width: 48%;
    margin: auto;
    align-items: center;
    padding: 10px;
    background-color: rgba(0,0,0,0.5) !important;
}

/* margin: 1.5rem 0 ;
  margin-left: 28%;
  height: 483px;
  align-items: center;
  height: 594px;
  width: 48% */


h1 {
    color: white;
    text-align: center;
}
.style{
    color: white;
    text-align: center;
    list-style-type: square;
}

.header {
    padding: 30px 30px;
    text-align: center;
    background: #A20A3A;
    font-size: 10px;
    overflow: hidden;
  }
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  .header a:hover {
    /* background-color: #ddd; */
    color: rgb(22, 22, 22);
  }
  .header img {
    float: left;
    width: 100px;
    background: #555;
  }
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 5%;
    border-radius: 10px;
  }
  .header-right {
    float: none;
  }
  .header-right {
    float: right;
  }


.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    /* z-index: unset; */
    top: 0;
    left: 0;
    background-color: #A20A3A;
    overflow-x: hidden;
    padding-top: 30px;
    margin-top: 60px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(247, 241, 241);
    display: block;
  }
  .sidenav a:hover {
    color: black;
}

th, td {
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #4CAF50; */
    color: #A20A3A;
  }
  .th,td:hover {
    color: black;
}
  .tablespace   {
  
    margin-left: 16%;
    /* margin-top: 100px; */
    border: 1px solid black;
    border-collapse: collapse;
    width: 70%;
    background-color: rgb(228, 224, 224)
  
}
.form-table{
    margin-top: 50px;
    margin-right: 25%
}
tr:nth-child(even) {background-color: #f59595;}
.button-font{
    background-color: #4CAF50;
    /* border: none; */
    color: white;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 0px 6px;
    cursor: pointer;
    
}


/* Account */
.error-color{
    color: #A20A3A;
}


  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .color-container {
    width: 400px;
    height: 400px;
  }
  
  .color-button {
    width: 50px;
    height: 20px;
    margin: 10px;
    background-color: #dddddd;
  }
  
  .button-class{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
  }
  .card-account{
   
        height: 450px;
        width: 50%;
        margin-left: 29%;
        margin-top: 4%;
        height: 50%;
        padding: 10px;
        background-color: rgba(0,0,0,0.5) !important;
  }
  /* .card{
  margin: 1.5rem 0 ;
  margin-left: 28%;
  height: 483px;
  align-items: center;
  height: 594px;
  width: 48%
  } */
  
  .action{
    padding: 3px;
    cursor: pointer;
  }
  
  /*used in form */
  .selectClass{
  padding: 12px 20px;
  width: 94%;
  margin: 8px 0;
  border: 1px solid black;
  font-size: 15px;
  color: black;
  line-height: 18px;
  }
  
  .submitBtn{
    color: #fff;
    background: #f6a953;
    border: none;
    padding: 8px 20px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 25px;
  }
  
  .cancelBtn{
    border: none;
    color: #82a8b3;
    font-size: 14px;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .labelClass{
    margin-left: 25px;
    color: #A20A3A;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
  }
 
  input[type=text], input[type=password] ,input[type=email],input[type=number] .selectClass{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    }


    .modal-wrapper {
        background: white;
        border: 1px solid #d0cccc;
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
        margin: 100px auto 0;
        transition: all .8s;
        width: 37%;
        transform: translateY(0vh);
        opacity: 1;
        position: absolute;
        left: 31%;
    }
    
    .modal-header {
        background: #263238;
        height: 40px;
        line-height: 40px;
        padding: 5px 20px;
        text-align: right;
    }
    
    .modal-header h3 {
        color: white;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .modal-body {
        padding: 10px 15px;
        text-align: center;
    }
    
    .modal-footer {
        background: #263238;
        height: 35px;
        padding: 15px;
    }
    
    .close-modal-btn {
        color: white;
        cursor: pointer;
        float: right;
        font-size: 30px;
        margin: 0;
    }
    
    .close-modal-btn:hover {
        color: black;
    }
    
    .btn-cancel, .btn-continue {
        background: coral;
        border: none;
        color: white;
        cursor: pointer;
        font-weight: bold;
        outline: none;
        padding: 10px;
    }
    
    .btn-cancel {
        background-color: #b71c1c;
        float: left;
    }
    
    .btn-continue {
        background-color: #1b5e20;
        float: right;
    }
    .page-style{
        margin: 20px;
        display: inline;
        font-weight: 900;
        
    }
    .pagination-btn {
        text-align: right;  
        cursor: pointer;
    }
    .back-drop {
        background-color: rgba(48, 49, 48, 0.42);
        height: 100%;
        position: fixed;
        transition: all 1.3s;
        width: 100%;
    }
    
    .open-modal-btn {
        margin: 12px;
        padding: 10px;
        font-weight: bold;
    }

    .pagination {
        display: inline;
        
       
       
    }
    .pagination span {
      cursor: pointer;
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
    }
    
    .pagination span.active {
      background-color: #0099FF;
      color: white;
      border: 1px solid #0099FF;
    }